body{

}
.navbar {
        background-color: lightsteelblue;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 5px solid #020035;
        border-top: 5px solid #020035;
}
.class_img
{
        height:300px;
        width:300px;
}
.card
{
        width:400px;
        margin-top:50px;
        border: 10px solid #020035;
        height:365px;
        background-color: lightsteelblue;
}
.card-img-top
{
        height:155px;
        width:350px;
        margin: 10px;
}