.grid-container{
    display: grid;
    background-color: black;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 300px 300px 300px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.grid-item{
    text-align: center;
    display: block;
    background-color: #020035;
    border: 1px solid lightsteelblue;
    font-size: 1000%;
    color: lightsteelblue;
}
.container-lg{
    text-align: center;
}
.navbar {
    background-color: lightsteelblue;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 5px solid #020035;
    border-top: 5px solid #020035;
    margin-bottom: 50px;
}