body{
background-color: #020035;
}
h1{
    color:white;
}
h2{
    color:white;
}
#options{
    text-align: center;

}
img{

}
.navbar {
    background-color: lightsteelblue;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;

    border-bottom: 5px solid #020035;
    border-top: 5px solid #020035;
}